.swiper-container {
  width: 100%;
  height: 375px;

  img {
    width: 100%;
    height: 100%;
  }

  .swiper-pagination {
  }
}


.goods-wrapper{
  //border: 1px solid red;

  img{
    width: 100%;
    height: 375px;
  }

  .goods-content{
    div{
      //border: 1px solid black;
      padding: 5px;
    }
  }
}

.goods-button{
  height: 50px;
  width: 100%;
  background: #ff605b;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 0;

  .button-item{
    border: 1px solid black;
    height: 100%;
    width: 30%;
    text-align: center;
    line-height: 30px;
    padding: 10px 0;
  }
}

.goods-wrapper-shadow{
  width: 100%;
  height: 100vh;
  background: rgba(69, 69, 69, 0.8);
  opacity: 10%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 1;

  .goods-chooseSku{
    width: 100%;
    height: 300px;
    background: darkolivegreen;
    position: fixed;
    bottom: 0;
    //opacity: 0;


  }
}

.close-button{
  width: 50px;
  height: 50px;
  line-height: 30px;
  padding: 10px 0;
  text-align: center;
  border: 1px solid black;
}


//过渡动画
.fade-1-enter-active, .fade-1-leave-active {
  transition: all .3s ease;
}
.fade-1-enter, .fade-1-leave-to {
  opacity: 0;
}
.fade-2-enter-active, .fade-2-leave-active {
  transition: all .7s ease;
  transform: translateY(0);
}
.fade-2-enter, .fade-2-leave-to {
  opacity: 0;
  transform: translateY(100%);
}


