<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>mall-demo</title>
</head>
<body>
<div id="app">

  <div style="height: 200px;">
    <m-swipe :lists="bannerLists" v-if="bannerLists"></m-swipe>
  </div>

  <section class="box"></section>

  <ul
    v-infinite-scroll="getLists"
    infinite-scroll-disabled="loading"
    infinite-scroll-distance="10">
    <li v-for="list in lists" :key="list.id">
      <img :src="list.img" alt="">
      {{list.name}}
      {{list.price}}
    </li>
  </ul>

  <div class="loadingMore" v-show="loading">加载中</div>

  <m-footer></m-footer>

</div>
</body>
</html>
